div.header h1 {
  border-bottom: 1px solid #000000;
}

.metanav { 
  text-align: right; 
  padding: 0.3em;
  margin-bottom: 1em; 
}

.error { 
  background: #F0D6D6; 
  padding: 0.5em; 
}

.note {
  background-color: #cccccc;
}
