{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('save_note') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:</dt>
        <dd><input type="text" size="30" name="title" class="text span-23 last" /></dd>
        <dt>Entry:</dt>
        <dd><textarea name="entry" rows="5" cols="40" class="span-23 last"></textarea></dd>
        <dt>Tags:</dt>
        <dd><input type="text" size="30" name="tags" class="text span-23 last" /></dd>
        <dd><input type="submit" value="Add">
      </dl>
    </form>
  {% endif %}
{% endblock %}
