{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:</dt>
        <dd><input type="text" size="30" name="title"></dd>
        <dt>Text:</dt>
        <dd><textarea name="entry" rows="5" cols="40"></textarea></dd>
        <dt>Tags:</dt>
        <dd><input type="text" size="30" name="tags"></dd>
        <dd><input type="submit" value="Add">
      </dl>
    </form>
  {% endif %}
  <ul class="notes">
  {% for note in notes %}
    <li><h2>{{ note.title }}</h2>{{ note.entry|safe }}
  {% else %}
    <li><em>No notes so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
