{% extends "layout.html" %}
{% block body %}
  {% if current_user.is_authenticated() %}
    {% if form.errors %}
      <p class="error">
        {% for field_name, field_errors in form.errors.items() if field_errors %}
          {% for error in field_errors %}
            {{ form[field_name].label }}: {{ error }}<br />
          {% endfor %}
        {% endfor %}
      </p>
    {% endif %}
    <form action="{{ url_for('notes.add_note') }}" method="post" class="add-entry">
      {% include "note_form.html" %}
    </form>
  {% endif %}
{% endblock %}
