<!doctype html>
<html>
  <head>
    <title>Noter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='monokai.css') }}" type="text/css" />
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url_for('notes.show_notes') }}">Noter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if not current_user.is_authenticated() %}
                <li><a href="{{ url_for('notes.login') }}">log in</a></li>
              {% else %}
                <li><a href="{{ url_for('notes.add_note') }}">+ add note</a></li>
                <li><a href="{{ url_for('notes.add_link') }}">+ add link</a></li>
                <li><a href="{{ url_for('notes.logout') }}">log out</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {% if current_user.is_authenticated() %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tags</li>
              {% for tag in tags %}
              <li><a href="{{ url_for('notes.view_tags_notes', tag=tag.value) }}">{{ tag.value }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.well -->
          {% endif %}
        </div>
        <div class="span9">
          <div class="messages">
          {% for message in get_flashed_messages() %}
            <div class="notice">{{ message }}</div>
          {% endfor %}
          </div>
          <div class="body">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
