{% extends "layout.html" %}
{% block body %}
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}
  <div class="notes">
    {% if current_user.is_authenticated() %}
      {% include "pagination.html" %}
      {% for note in notes.items %}
        <div class="note well well-small">
          <h2><a href="{{ url_for('notes.view_note', note_id=note.id) }}">{{ note.title }}</a></h2>
          {{ note.html_entry|safe }}
        </div>
      {% else %}
        <div class="note"><em>No notes found</em></div>
      {% endfor %}
      {% include "pagination.html" %}
    {% else %}
      <div class"box">Please <a href="{{ url_for('notes.login') }}">login</a> or <a href="{{ url_for('notes.signup') }}">register</a>.</div>
    {% endif %}
  </div>
{% endblock %}
