{% extends "layout.html" %}
{% block body %}
  <div class="note box">
    <h2>{{ note.title }}</h2>
    <div class="entry">{{ note.html_entry|safe }}</div>
    <hr />
    <p class="tags">Tags:
      {% if note_tags %}
        {% for tag in note_tags %}
          <a href="{{ url_for('notes.view_tags_notes', tag=tag.value) }}">{{ tag.value }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      {% endif %}</p>
  </div>
  {% if current_user.is_authenticated() %}
    <p><a href="{{ url_for('notes.remove_note', note_id=note.id) }}">Delete note</a></p>
    <hr />
    <h3>Edit Note</h3>
    <form action="{{url_for('notes.view_note', note_id=note.id) }}" method="POST">
      {% include "note_form.html" %}
    </form>
  {% endif %}
{% endblock %}
